.nav>li>a:hover {
  background-color: cornflowerblue;
  color: white;
}

.nav>li>a:focus {
  background-color: cornflowerblue;
}

form {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 80px;
}

.border {
  padding-top: 20px;
  padding-bottom: 20px;
}

span {
  padding-top: 75px;
}